# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Java
* C++
* Julia
* Swift
* R

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. JavaScriptScala

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib
4. Scikit-Learn
5. Scipy
6. Keras
7. Seaborn
8. PyTorch
9. TensorFlow

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|Keras|
|MATLAB|
|NumPy|

### Below are a few examples of evaluating arithmetic expressions in Python.

* 2+2=4
* 6-4=2

In [56]:
#This a simple arithmetic expression to mutiply then add integers.

(3*4)+5

17

In [68]:
#This will convert 200 minutes to hours by diving by 60

x = 200 
y = 60 
z = (x/y)

In [70]:
print(z)

3.3333333333333335

In [74]:
# This will convert 200 minutes to hours by diving by 60

minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Author
Burak Nebioglu